@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@import url('https://fonts.cdnfonts.com/css/miama');




/* shared styles */
.display-flex {
    display: flex;
}

.text-white {
    color: rgb(255, 255, 255);
}

.bg-colour {
    background-color: rgb(17, 17, 17);

}

.btn-styles {
    border-radius: 46px;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    width: 92px;
    height: 38px;

}

span {
    font-family: 'Miama', sans-serif;
    font-size: 90px;
}

.home-btn {

    text-align: center;

}


/* header styles */




/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;

}

.nav-links {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;


}

.nav-items {

    list-style: none;
    margin-right: 35px;


}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;


}

.navbar,
.banner {
    max-width: 1440px;

}

.brand {
    color: rgb(230, 83, 60);
    padding-left: 100px;
    font-size: 33px;





}

/* banner related styles */
.banner-content {
    max-width: 850px;
    margin: 0 auto;

}

.banner {
    display: flex;

}

.banner-title {
    width: 520px;
    height: 281px;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);

    font-size: 60px;
    font-weight: 900;
    text-align: center;

    padding-left: 80px;
}

.banner-text {

    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: flex;

}

.download-btn {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background: black;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 200px;
    height: 54px;


}

.join-now-btn {

    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    width: 200px;
    height: 54px;


}

/* image info styles */
.img-info-1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    width: 206px;
    height: 96px;
    left: 764px;
    top: 556px;


}

.img-text-1 {
    color: rgba(239, 237, 232, 0.65);
}

.img-text-2 {
    color: rgba(239, 237, 232, 0.65);
    font-weight: 700px;
}


.img-info-2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    position: absolute;
    width: 193px;
    height: 98px;
    left: 1107px;
    top: 260px;
}

.img-title-2 {
    padding-left: 40px;
    font-size: 30px;
    margin-top: 10px;
}

/* fitness  related styles  */
.fitness-part-2 {
    display: flex;
    justify-content: center;
    gap: 20px;


}

.fitness-part-1 {
    text-align: center;


}

.fitness-sec {

    height: 452px;
    display: flex;
    flex-direction: column;
}

.text-for-fitness {
    color: rgba(255, 255, 255, 0.5);

}


.title-for-fitness {
    font-size: 40px;

    color: rgb(255, 255, 255);
}

.fitness-title {

    color: rgb(255, 255, 255);
    font-size: 18px;

}

.fitness-img {
    border-radius: 50%;
    height: 150px;



}

.fitness-text {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fitness-content {
    /* image 3 */

    width: 272px;
    height: 180px;

}

/* run section styles */

.run-content {

    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    width: 1000px;

    height: 300px;
    align-items: center;
    justify-content: center;


}



.run-img {
    width: 326px;
    height: 226px;
    border-radius: 18px;

}

.run-btn {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    width: 200px;
    height: 54px;


}

.run-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;

}

.run-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;


}

/* calculator related styles */

.calculator-table {
    border-collapse: collapse;
    color: rgb(255, 255, 255);
    width: 300px;
    height: 216px;
}



td,
th {
    border: 1px solid white;
    padding: 0px 10px;
}



.calculator-part-2 {
    color: rgb(255, 255, 255);
    margin-top: 0;
}

.calculator-part-3 {
    color: rgb(255, 255, 255);
    padding-left: 150px;
    text-align: center;
    margin-top: 0;



}

.calculator-part-1 {
    text-align: center;
    margin: none;
    color: rgb(255, 255, 255);
}

.calculator-title-3 {
    text-align: center;
}

.calculator-title-2 {
    text-align: center;
}

.calculator-title-1 {
    font-size: 50px;
    margin-top: 0;
    text-align: center;
}

.calcu-bottom-part {
    display: flex;
    margin-top: 0;

}

.calculator-table {

    width: 310px;
    height: 210px;

}

.main-calculator {
    display: flex;
    justify-content: center;
    gap: 90px;
    text-align: center;
}

.main-calculator-text2 {
    position: static;
    width: 577px;
    height: 18px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    padding: 12px 20px 12px 20px;


}



.main-calculator-text {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);


    width: 282px;
    height: 38px;
    display: flex;
    text-align: center;
}

.calculate-btn {


    /* position: static; */
    width: 224px;
    height: 54px;
    justify-content: center;
    align-items: center;
}



.button-calculator {
    text-align: center;
}

/* names related styles */

.names-title {
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-top: 0;
    padding-top: 80px;
}

.names-text {
    text-align: center;
    color: rgb(255, 255, 255);
}

.name-img {
    width: 326.67px;
    height: 272px;
    border-radius: 13px;


}

.name-info {
    text-align: center;
    color: rgb(255, 255, 255);

}

.names-part-2 {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);

    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}




.names-row {
    display: flex;
    justify-content: center;

}

.names-row-2 {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.name-career {
    color: rgba(0, 0, 0, 0.2);

}

/* footer related styles */
.footer-sec {
    display: flex;

}


.footer-info {
    list-style: none;

}

.footer-title {
    color: rgb(230, 83, 60);
    padding-left: 100px;
    font-size: 45px;
    font-family: Inter;

}

.get-started {

    font-family: Inter;
    font-size: 22px;

}

.footer-part-1 {
    color: rgb(255, 255, 255);
}



.footer-part-2 {
    color: rgb(255, 255, 255);

}

.footer-part-3 {
    color: rgb(255, 255, 255);
}

.copyright {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}